@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul,
ol,
li {
  list-style-type: none;
}

.flex-glob {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-glob {
  padding: 5px 8px;
  background-color: transparent;
  backdrop-filter: 5px;
}
